<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>CS Blog</title>
</head>

<body>
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <br>
            <a href="/welcome"><img src="/static/images/blog-cover.jpg" alt="main photo" class="img-thumbnail"></a>
        </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <a href="/signup"><button  type="button" class="btn btn-primary btn-lg center-block" id="homebtn">Register</button></a>
            </div>

            <div class="col-md-3">
                <a href="/blog/newpost"><button  type="button" class="btn btn-primary btn-lg center-block" id="homebtn">Post a Blog</button></a>
            </div>

            <div class="col-md-3">
                <a href="/blog"><button  type="button" class="btn btn-primary btn-lg center-block" id="homebtn">My Blog</button></a>
            </div>

            <div class="col-md-3">
                {% if not is_logged_in %}
                    <a href="/login"><button  type="button" class="btn btn-primary btn-lg center-block" id="homebtn">Login</button></a>
                {% else %}
                    <a href="/logout"><button  type="button" class="btn btn-primary btn-lg center-block" id="homebtn">Logout</button></a>
                {% endif %}
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>

