<div class="row">
  <div class="col-md-12">

    <div class="post">
      <div class="post-heading">
        <div class="post-title">
          {{p.subject}}
        </div>

        {% if p.user_id == user_id %}

          <form method="post">
            <input type="submit" name="edit" class="edit" value="edit">
            <input type="submit" name="delete" class="delete" value="delete">
          </form>

        {% endif %}

        <div class="post-date">
          {{p.created.strftime("%b %d, %Y")}}
        </div>
      </div>

      <div class="post-content">
        {{p._render_text | safe}}
      </div>
    </div>

  </div>
</div>
